* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

.flex {
    display: flex;
}

.container {
    background-color: #1B1B1B;
    /* width: 100vw; */
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
}

header {
    height: 70px;
    width: 100%;
    background-color: black;
}

.header-container {
    margin: 0 auto;
    max-width: 1080px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 50px;
    margin: 10px 0;
}

input {
 background-color: black;
 color: white;
 border: none;
}

header i {
color: white;
font-size: 32px;
padding: 0 30px 0 10px;
cursor: pointer;
}

h2 {
    margin: 0 auto;
    max-width: 1080px;
    color: white;
    padding: 100px 0 20px 20px;
}

.simplebar-container {
    margin: 0 auto;
    max-width: 1080px;
}

.cards-container {
    /* flex-wrap: wrap; */
    margin: 0 auto;
    max-width: 1080px;
    height: 100%;
    padding: 20px 10px 50px;
    justify-content: flex-start;
}

.simplebar-track.simplebar-horizontal {
    margin: 20px 0;
}

.simplebar-scrollbar:before {
    background: #808080;
}

.card {
    width: 342px;
    height: 512px;
    position: relative;
    padding: 10px;
    flex-direction: column;
    flex: 0 0 auto;
    /* background-color: rgb(46,58,70); */
    border-radius: 8px;
    margin: 10px;
}

.card:hover .poster{
    display: none;
}

.card h3 {
    color: white;
    padding: 10px 0;
}

.card p {
    color: #808080;
    padding: 10px 0;
}

.card span {
    color: #808080;
    padding: 10px 0;
}

.poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card span img {
    width: 64px;
    height: 64px;
    vertical-align: middle;
    padding: 0 5px;
}

.card i {
    color: orange;
    padding: 0 5px;
}

.overview {
    overflow-y: auto;
}

.card:hover .img
